<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.demoaut.newtours.Suite">
  <test name="FirefoxDriverTest" parallel = "tests">
  <parameter name="browser" value="Firefox"></parameter>
    <classes>
      <class name="com.demoaut.newtours.TestScripts.FlightBookingTest"/>      
    </classes>
  </test> <!-- Test -->
    <test name="ChromeDriverTest" parallel = "tests">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="com.demoaut.newtours.TestScripts.FlightBookingTest"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
